<include file="Public/header" />
<style type="text/css">
	.table tbody tr.active,.table tbody tr.active>td,.table tbody tr.active>th,.table tbody tr .active{background-color:#F5F5F5!important}
	label.error{top:12px;}
	.input-text[type="number"]{width:100%;}
	.teacher-info-hide{display: none;}
</style>

<article class="page-container">
	<form class="form form-horizontal" id="form-menu-add" action="" method="post">
		<input type="hidden" name="id" value="<{$data.id|default=''}>" id="userid">
		<table class="table table-border table-bg table-bordered layer-table">
			<tbody>
			<tr>
				<th class="title" style="width:80px;">用户名</th>
				<td>
					<input type="text" class="input-text" name="username" value="<{$data.username}>">
				</td>

				<th class="title" style="width:80px;">角色</th>
				<td>
					<span class="select-box">
					<select class="select" id="role-id" name="role_id" size="1">
						<option value="">==请选择角色==</option>
						<volist name="role_list" id="role">
						<option value="<{$role.role_id}>" <eq name="data.role_id" value="$role.role_id">selected="selected"</eq> ><{$role.role_name}></option>
						</volist>
					</select>
					</span>
				</td>
			</tr>

			<tr>
				<th class="title">密码</th>
				<td>
					<input type="password" class="input-text" name="password" id="password">
				</td>

				<th class="title">确认密码</th>
				<td>
					<input type="password" class="input-text" name="confirm_password" id="confirm_password">
				</td>
			</tr>


			<tr>
				<th class="title">昵称</th>
				<td>
					<input type="text" class="input-text" name="nickname" value="<{$data.nickname|default=''}>">
				</td>

				<th class="title">是否启用</th>
				<td>
					<div class="radio-box">
						<input name="is_valid" type="radio" id="display-1" value="1" <if condition="$data['is_valid'] eq '1'">checked="checked"</if> >
						<label for="display-1">启用</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="display-2" value="0" name="is_valid" <if condition="$data['is_valid'] eq '0'">checked="checked"</if> >
						<label for="display-2">禁用</label>
					</div>
				</td>

			</tr>


			<tr>
				<td colspan="4" class="c-warning">提示：登陆密码留空即为不更改密码!</td>
			</tr>

			</tbody>

		</table>
		<input class="btn btn-primary radius"  style="display: none;" id="do-submit" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
	</form>
</article>

<script type="text/javascript" src="__LIB__/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript">
	var default_role_id = '<{$userData.role_id}>';
	var select_role_id = default_role_id;
	var tip = 0;
    $(function(){

        $.validator.addMethod("checkPwd", function(value) {
        	var pwd_reg = /\S{6,}/;
        	if($('#userid').val()){
				return true;
			}else if(!pwd_reg.test(value)){
				return false;
			}
        	return true;
        }, '请输入密码!');

        $.validator.addMethod("checkConfirmPwd", function(value) {
            var pwd = $('#password').val();
			if(pwd){
				if(pwd != value){
					return false;
				}
			}
			var pwd_reg = /\S{6,}/;
			if(!$('#userid').val() && !pwd_reg.test(pwd)){
				return '请输入确认密码';
			}
			return true;
        }, '两次输入的密码不一致!');

        $("#form-menu-add").validate({
            rules:{
                username:{
                    required:true,
                    minlength:3,
                },
                role_id:{
                    required:true,
                },
				password:{
                    checkPwd:true
                },
                confirm_password:{
					checkConfirmPwd:true
                }
            },messages: {
                username: {
                    required: '请输入用户名!',
                    minlength:'用户名长度必须大于3位字符'
                },
                role_id: {
                    required: '请选择角色!'
                },
                password: {
                    required: '请输入密码!',
                    minlength:'密码长度必须大于6位字符'
                },
                confirm_password: {
                    required: '请输入确认密码!',
                    minlength:'密码长度必须大于6位字符',
                    equalTo:'两次密码输入的不正确!'
                }
            },
            onkeyup:false,
            focusCleanup:false,
            success:"valid",
            submitHandler:function(form){
            	$.post('',$(form).serialize(),function(data){
					if(data.status == 'y'){
						parent.layer.msg('操作成功！',{time:1500,icon:1},function(){
							parent.location.reload();
						});
						return false;
					}else{
						parent.layer.msg(data.msg,{icon:5});
					}
				});
            }
        });


    });
</script>
</body>
</html>